<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">

	<!-- App Name -->
	<display-name>Online Voting System</display-name>

	<!-- Welcome Page -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>


	<!-- GLOBAL ERROR HANDLING -->


	<!-- 400 - Bad Request -->
	<error-page>
		<error-code>400</error-code>
		<location>/WEB-INF/views/error/400.jsp</location>
	</error-page>

	<!-- 401 - Unauthorized -->
	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/views/error/401.jsp</location>
	</error-page>

	<!-- 403 - Forbidden -->
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/views/error/403.jsp</location>
	</error-page>

	<!-- 404 - Not Found -->
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/error/404.jsp</location>
	</error-page>

	<!-- 500 - Internal Server Error -->
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/error/500.jsp</location>
	</error-page>

	<!-- Database / Hibernate / Runtime Errors -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/views/error/database.jsp</location>
	</error-page>

</web-app>
